# 1st Task: Check voting activity per legislator of the given bills.csv
### For every legislator in the dataset, how many bills did the legislator support (voted for the bill)? How many bills did the legislator oppose?
### Expected output: CSV file named "legislators-support-oppose-count.csv" with 4 columns as follows:

### Field Type Description
id | integer | The id of the legislator \
name | string | The name of the legislator \
num_supported_bills | integer The number of bills the legislator voted Yea on from the dataset \
num_opposed_bills | integer | The number of bills the legislator voted Nay on from the dataset

In [3]:
import pandas as pd

In [6]:
bills_df = pd.read_csv("./bills.csv")
legislators_df = pd.read_csv("./legislators.csv")
vote_results_df = pd.read_csv("./vote_results.csv")
votes_df = pd.read_csv("./votes.csv")

votes_df.head()

        id  bill_id
0  3314452  2900994
1  3321166  2952375

In [7]:
merged_vote_data = pd.merge(vote_results_df, votes_df, left_on="vote_id", right_on="id", suffixes=("_vote_result", "_vote"))

In [9]:
merged_legislator_vote_data = pd.merge(merged_vote_data, legislators_df, left_on="legislator_id", right_on="id")

merged_legislator_vote_data.head()

,id_vote_result,legislator_id,vote_id,vote_type,id_vote,bill_id,id,name
0,92516784,400440,3321166,2,3321166,2952375,400440,Rep. Don Young (R-AK-1)
1,92279979,400440,3314452,1,3314452,2900994,400440,Rep. Don Young (R-AK-1)
2,92516770,17941,3321166,2,3321166,2952375,17941,Rep. Jeff Van Drew (R-NJ-2)
3,92279965,17941,3314452,1,3314452,2900994,17941,Rep. Jeff Van Drew (R-NJ-2)
4,92516768,400414,3321166,2,3321166,2952375,400414,Rep. Fred Upton (R-MI-6)

In [10]:
supported_bills_count = merged_legislator_vote_data[merged_legislator_vote_data["vote_type"] == 1].groupby("name")["bill_id"].nunique()
opposed_bills_count = merged_legislator_vote_data[merged_legislator_vote_data["vote_type"] == 2].groupby("name")["bill_id"].nunique()

#print(supported_bills_count)
#print(opposed_bills_count)

In [12]:
legislator_support_oppose_count = pd.DataFrame({
    "legislator_id": legislators_df["id"],
    "legislator_name": legislators_df["name"],
    "num_supported_bills": legislators_df["name"].map(supported_bills_count).fillna(0).astype(int),
    "num_opposed_bills": legislators_df["name"].map(opposed_bills_count).fillna(0).astype(int)
})

print(legislator_support_oppose_count)

    legislator_id                          legislator_name  \
0          904789                  Rep. Don Bacon (R-NE-2)
1         1603850             Rep. Jamaal Bowman (D-NY-16)
2         1852382                  Rep. Cori Bush (D-MO-1)
3          904796          Rep. Brian Fitzpatrick (R-PA-1)
4           15318           Rep. Andrew Garbarino (R-NY-2)
5         1269775          Rep. Anthony Gonzalez (R-OH-16)
6          412649                Rep. John Katko (R-NY-24)
7          412421            Rep. Adam Kinzinger (R-IL-16)
8           15367        Rep. Nicole Malliotakis (R-NY-11)
9          412487             Rep. David McKinley (R-WV-1)
10        1269767  Rep. Alexandria Ocasio-Cortez (D-NY-14)
11         905216                 Rep. Ilhan Omar (D-MN-5)
12        1269778            Rep. Ayanna Pressley (D-MA-7)
13         412393                  Rep. Tom Reed (R-NY-23)
14         400380                Rep. Chris Smith (R-NJ-4)
15        1269790             Rep. Rashida Tlaib (D-MI-13)
16         400414                 Rep. Fred Upton (R-MI-6)
17          17941              Rep. Jeff Van Drew (R-NJ-2)
18         400440                  Rep. Don Young (R-AK-1)
19         412211               Rep. John Yarmuth (D-KY-3)

    num_supported_bills  num_opposed_bills
0                     1                  1
1                     1                  1
2                     1                  1
3                     1                  1
4                     1                  1
5                     1                  1
6                     1                  1
7                     1                  1
8                     1                  1
9                     1                  1
10                    1                  1
11                    1                  1
12                    1                  1
13                    1                  1
14                    1                  1
15                    1                  1
16                    1                  1
17                    1                  1
18                    1                  1
19                    0                  0

In [13]:
legislator_support_oppose_count.to_csv("legislators-support-oppose-count.csv", index=False)